@tailwind base;
@tailwind components;
@tailwind utilities;

/* DaisyUI plugins */
@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
   themes: ["light", "dark"];
  default: true;
  --color-primary: #3B82F6;
  --color-secondary: teal;
}
